.dashboard-home {
  &-bar {
    z-index: 25;
    position: fixed;
    top: 0;
    display: flex;
    width: 100%;

    &__search {
      position: fixed;
      padding-right: 1rem;
      background-color: #4F4AFD;
      width: 100%;
      height: 5rem;
      box-shadow: 20px 5px 20px rgba(0, 0, 0, 0.308);

      input {
        border-radius: 10px;
        border: none;
        padding: 0.5rem 0.5rem;
        width: 25rem;
      }

      &__logo {
        background-color: #29269A;
        height: 100%;
        width: 15.1rem;
      }

      &__icon {
        width: 30px;
        height: 30px;
        position: absolute;
        top: 5px;
        right: 15px;
        cursor: pointer
      }
    }
    &__menu {
      background-color: #3733BF;
      height: 100vh;
      width: 15rem;
      box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.308);

      ul {
        color: white;
        padding: 0;
        margin: 0;
        li {
          text-align: left;
          font-size: 1.3rem;
          cursor: pointer;
          margin: 1rem 0;
          list-style-type: none;

          svg {
            margin-right: 0.5rem;
          }
        }
      }
    }

    &__user {
      width: 20rem;

      h3 {
        color: white;
      }

      .dropdown {
        .button-logout {
          border: none;
          background: none;
        }
      }

      &__icon {
        margin-left: 1rem;
        height: 30%;
        width: 15%;
        color: rgb(245, 243, 243);
        background-color: gray;
        border-radius: 55%;
        box-shadow: 0 0 5px rgb(61, 61, 61);
      }

      &__dropdown {
        color: white;
        margin-left: 0.5rem;
        height: 5rem;
        width: 2rem;
      }
    }
  }
}