@import 'src/_variables.scss';

.statistics-pages {
  position: relative;

  &__title {
    color: white;
    text-shadow: $shadow;
  }

  &__selects {
    margin: 2rem 1rem;

    select, input {
      margin: 0.5rem 1rem;
      padding: 0.5rem 0.5rem;
      border: none;
      border-radius: 10px;
    }
  }

  &__data {
    display: flex;
    justify-content: center;

    &-card {
      padding: 1rem 1rem;
      width: 40rem;
    }
  }
}